.section{
   display: flex;
   text-align: center;
   margin-top: 30%;
   justify-content: center;
   position: static;

}

div {
   text-align: center;
   margin-top: 15%;
                  
}
   
body{
   position: static;
   margin: 0;
   padding: 0;
   background-image: url('img/MAT.jpeg');
   background-size: cover;         
   background-position: center;     
   background-repeat: no-repeat;   
   height: 100vh; 
}
h2 {
   text-align: center;
   position: static;
}



.btn{
   margin-left: 15%;
}

.container {
   display:inline-block;
   width: 20%;
   padding: 2%;
   background-color: rgba(0, 0, 0, 0.6); 
   border-radius: 12px;
   color: white;
   text-align: center;

}


